footer {
    background-color: #353535;
    gap: 1vh;
    padding-bottom: $padding;
    * {
        color: white;
        text-align: left;
        justify-content: start;
    }
    h1 {
        padding: $padding;
    }
    ul {
        margin: 0;
    }
    li {
        a {
            display: flex;
            gap: $padding;
            align-items: center;
            padding: 2%;
            margin-left: $padding;
        }
        i {
            width: 20px;
        }
    }
}
