footer {
    background-color: #353535;
    gap: 1vh;
    padding-bottom: $padding;
    h1,
    h4,
    i {
        color: white;
        text-align: left;
        justify-content: start;
    }
    h1 {
        padding: $padding;
    }
    ul {
        margin: 0;
    }
    li {
        a {
            display: flex;
            gap: $padding;
            align-items: center;
            padding: 2%;
            margin-left: $padding;
        }
        i {
            width: 20px;
        }
    }
    @include tablet {
        display: flex;
        padding-bottom: 2%;
        align-items: center;
        width: 100%;
        h1 {
            padding: 2%;
            order: 5;
            font-size: 24px;
        }

        ul {
            display: flex;
            justify-content: end;
            width: 100%;
        }
    }
}
