header {
    h1 {
        text-align: center;
        border-bottom: 1px solid white;
        box-shadow: $shadows;
        padding: 1vh;
        position: relative;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;
        padding: 1vh;
        gap: 1vh;
    }
}

header {
    border-bottom: 1px solid white;
    position: relative;
    box-shadow: $shadows;
}
.header_menus {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: relative;
    a {
        position: absolute;
        left: $padding;
        transform: scale(1.5);
    }
    h1 {
        text-align: center;
        border-bottom: 0;
        box-shadow: 0 0 white;
    }
    &-home {
        background: linear-gradient(grey, 5%, #eaeaea);
        align-items: center;
        justify-content: center;
        height: 60px;
        text-align: center;
        display: flex;
        label {
            padding: $padding;
            @include tablet {
                padding: 2%;
            }
        }
        input {
            width: 150px;
            border: none;
            background-color: transparent;
        }
    }
}
