.button-discover {
    padding: 1vh 2vh;
    border-radius: 25px;
    border: 0px;
    color: white;
    background-image: linear-gradient(#ff79da, #9356dc);
    box-shadow: $shadows;
    animation: restaurants 1s both;
    animation-delay: 5s;
    &:hover {
        cursor: pointer;
        opacity: 80%;
        box-shadow: $shadows-hover;
    }
}
