.display_new {
    width: 25%;
    padding: 1%;
    position: absolute;
    top: $padding;
    right: $padding;
    text-align: center;
    color: $color_new-text;
    background-color: $color_new-background;
}
