.cards-home {
    border-radius: 15px;
    box-shadow: $shadows;
    position: relative;
    margin-bottom: $padding;
    background-color: white;
    figure {
        img {
            border-radius: 15px 15px 0px 0px;
            height: 200px;
            object-fit: cover;
        }
        figcaption {
            padding: 3%;
            position: relative;
            i {
                position: absolute;
                bottom: 5%;
                right: $padding * 2;
                transform: scale(1.8);
            }
            .heart-empty {
                cursor: pointer;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                stroke: black;
                stroke-width: 10;
                fill: transparent;
            }

            .heart-checked {
                cursor: pointer;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: scale(0) translateY(-50%);
                fill: url(#gradient);
            }
            .heartbox {
                input {
                    display: none;
                }
                input[type="checkbox"]:checked ~ .heart-checked {
                    animation: heart 1s ease-in-out both;
                }
            }
        }
    }

    @include tablet {
        padding-bottom: 0;
    }
}

.menus {
    input {
        display: none;
        &:checked {
            + label {
                > .selector {
                    background-color: #99e2d0;
                    width: 20%;
                    right: 0%;
                }
                > span {
                    right: 20%;
                }
                > h3,
                p {
                    width: 60%;
                }
                &:hover {
                    .fa-solid {
                        color: white;
                        transform: scale(2);
                    }
                }
            }
        }
    }
    label {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: white;
        border: 0px solid white;
        border-radius: 10px;
        box-shadow: $shadows;
        margin-top: $padding;
        margin-bottom: $padding;
        position: relative;
        text-align: left;
        height: 60px;
        width: 100%;
        flex: 4;
        overflow: hidden;
        position: relative;
        transition: all 0.5s;
        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: absolute;
            top: 2%;
            left: 3%;
            width: 80%;
            transition: all 0.5s;
        }
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: absolute;
            bottom: 2%;
            left: 3%;
            width: 80%;
            transition: all 0.5s;
        }
        span {
            text-align: right;
            padding-right: $padding;
            position: absolute;
            bottom: 2%;
            right: 3%;
            transition: all 0.5s;
        }
        .selector {
            height: 60px;
            width: 100%;
            background-color: white;
            border-radius: 0px 9px 9px 0px;
            right: -100%;
            text-align: center;
            position: absolute;
            padding-top: 18px;
            transition: all 0.5s;
        }
        &:hover {
            .selector {
                right: 0%;
                width: 5%;
            }
            .fa-solid {
                color: #99e2d0;
                transform: scale(1.5);
                transition: 500ms linear;
            }
        }
    }
    .fa-solid {
        transform: scale(2);
        color: white;
    }
}
