h1 {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
}

* {
    font-family: "Roboto", sans-serif;
    color: black;
}
header p,
h4 {
    font-weight: 500;
}

h2 {
    font-weight: 700;
    @include tablet {
        font-size: 30px;
    }
}

p {
    font-weight: 300;
}

.heart {
    transform: scale(0.1);
}

form label {
    h3 {
        font-size: 16px;
        @include breakpoint-desktop {
            font-size: 18px;
        }
    }
    p {
        font-size: 13px;
        @include breakpoint-desktop {
            font-size: 16px;
        }
    }
}
