section,
.restaurants {
    padding-left: $padding;
    padding-right: $padding;
}

.restaurants {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: $color_background-menus;
    > div {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            gap: 2%;
            overflow: hidden;

            .menu {
                width: 25%;
            }
        }
    }
}

.loading_wheel {
    width: 250px;
    height: 250px;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: rotate(0turn) translateX(-50%) translateY(-50%);
    animation: wheel 4s linear forwards;
    animation-delay: 1s;
    @include tablet {
        .loading_wheel {
            width: 10%;
            left: 45%;
        }
    }
}

.loading-screen_white {
    background-color: white;
    opacity: 0.2;
    animation: screen 4s linear forwards;
}

.menu {
    opacity: 1;
    &--1 {
        padding-bottom: $padding;
    }
}

.intro {
    background-color: #f6f6f6;
    padding: $padding;
    text-align: center;
    position: relative;
    h2 {
        font-size: 18px;
        @include tablet {
            padding-bottom: 2%;
        }
    }
    p {
        font-size: 18px;
        padding-bottom: $padding;
    }
}

.howTo {
    margin-top: $padding;
    margin-bottom: $padding * 2;
    padding-left: $padding;
    padding-right: $padding;
    height: 33%;
    @include tablet {
        margin-bottom: $padding;
    }
    h2 {
        text-align: start;
        margin-bottom: $padding;
    }
    h4 {
        font-size: 16px;
        @include breakpoint-desktop {
            font-size: 18px;
        }
    }
    &_steps {
        counter-reset: counter1;
        @include tablet {
            display: flex;
            justify-content: space-evenly;
            gap: $padding;
        }
    }
    #howTo_steps-store {
        background-color: #f5edff;
        i {
            color: $color-store;
        }
    }
    .list {
        display: flex;
        margin-bottom: $padding;
        border-radius: 20px;
        box-shadow: $shadows;
        background-color: #f6f6f6;
        gap: $padding;
        align-items: center;
        padding: 6%;
        counter-increment: counter1;
        position: relative;
        width: 100%;
        height: 100%;
        animation: loader 2s ease-in-out both;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: 1s * $i;
            }
        }
        &::before {
            content: counter(counter1);
            text-align: center;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: $color-store;
            color: white;
            position: absolute;
            left: -12px;
            transform: scale(1);
            animation: loader_counter 1s both;
            animation-delay: 3s;
        }
        .icon {
            color: #7e7e7e;
            padding: 0% 5%;
            width: 30px;
            transform: scale(1.5);
            z-index: 1;
            animation: loader_icon 3s ease-in-out both;
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 1s * $i;
                }
            }
        }
        .title {
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
            transform: scale(1);
            animation: loader_text 3s both;
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 1s * $i;
                }
            }
        }
        @include tablet {
            padding: 2%;
            animation: restaurant 3s ease-in-out both;
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 1s * $i;

                    i {
                        padding: 0 2%;
                    }
                }
            }
        }
    }
}
