.restaurant_page {
    text-align: center;
    figure {
        position: relative;
        height: 600px;
        img {
            height: 600px;
            object-fit: cover;
        }
    }
    .restaurant_name {
        position: absolute;
        bottom: -3%;
        width: 100%;
        background-color: $color_background-menus;
        border-radius: 25px 25px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: $padding;
        padding-bottom: $padding;
        .heart-empty {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            cursor: pointer;
            stroke: black;
            stroke-width: 10;
            fill: transparent;
            @include breakpoint-desktop {
                right: 150px;
            }
        }
        .heart-checked {
            position: absolute;
            top: 50%;
            right: 20px;
            cursor: pointer;
            transform: scale(0) translateY(-50%);
            fill: url(#gradient);
            @include breakpoint-desktop {
                right: 150px;
            }
        }
        .heartbox {
            input {
                display: none;
            }
            input[type="checkbox"]:checked ~ .heart-checked {
                animation: heart 1s ease-in-out both;
            }
        }
        @include breakpoint-desktop {
            width: 60%;
            margin: 0% 20%;
            justify-content: center;
            gap: 50px;
        }
    }
    .menus {
        width: 100%;
        margin: auto;
        padding-top: $padding;
        padding-left: $padding;
        padding-right: $padding;
        background-color: $color_background-menus;
        > p {
            text-align: left;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 10%;
                border-bottom: 3px solid #99e2d0;
            }
        }
        @include breakpoint-desktop {
            width: 60%;
            margin: auto;
            padding: 0% 10%;
        }
    }
    button {
        margin: $padding;
        width: 200px;
    }
}

.label {
    animation: list 1s ease-in-out both;
    @for $i from 1 through 9 {
        &--#{$i} {
            animation-delay: 500ms * $i;
        }
    }
}
